<!DOCTYPE html>
<html>

<head>
        <title>ProjectBat Socket.io Tester</title>
        <style>
                #messages {
                        margin-left:100px;
                        margin-top:50px;
                        width:600px;
                        height:400px;
                        list-style-type: none
                }

                #messages li {
                        padding: 5px 10px;
                }

                #messages li:nth-child(odd) {
                        background: #eee;
                }

                #m {
                        margin-left:100px;
                        width:300px;
                        height:30px;
                }

                #send {
                        margin-left:10px;
                        height:30px;
                }

                #toolbox {
                        margin-left:100px;
                }
        </style>
</head>

<body>
        <ul id="messages"></ul>
        <form action="">
                <input id="m" autocomplete="off" value="" /><button id="send">Send</button>
        </form><br /><br />

        <div id="toolbox">
                <button id="f1" onclick="f1_click()">01082169122</button>
                <button id="f2" onclick="f2_click()">01068119122</button>
                <button id="reqGame" onclick="reqGame_click()">reqGame</button>
                <button id="allowGame" onclick="allowGame_click()">allowGame</button>
                <button id="stopReqGame" onclick="stopReqGame_click()">stopReqGame</button>
                <button id="putPoint" onclick="putPoint_click()">putPoint</button>
                <button id="testBoard" onclick="testBoard_click()">testBoard</button>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="http://underscorejs.org/underscore-min.js"></script>
        <script>
                var socket = io();
                var gameRequester = '';
                var isRequester = false;

                var myName = '';
                var enemyName = '';

                var myPhoneNumber = '';
                var enemyPhoneNumber = '';

                var remainChangeTurn = 0;

                var getValues = (json) => {
                        return _.map(json, (value, key) => {
                                return value.name;
                        });
                }

                $(function() {
                        $('form').submit(function() {
                                var message = $('#m').val().split(' ');
                                var code = message[0];

                                if(code === 'sendPhoneNumber') {
                                        socket.emit('sendPhoneNumber', {
                                                'phoneNumber' : message[1],
                                                'name' : message[2]
                                        });

                                        myPhoneNumber = message[1];
                                        myName = message[2];
                                }
                                else if(code === 'reqGame') {
                                        socket.emit('reqGame', {
                                                'to' : message[1]
                                        });

                                        isRequester = true;
                                }
                                else if(code === 'allowGame') {
                                        socket.emit('allowGame', {
                                                'requester' : message[1]
                                        });

                                        isRequester = false;
                                }
                                else if(code === 'stopReqGame') {
                                        socket.emit('stopReqGame', {
                                                'to' : message[1]
                                        });
                                }
                                else if(code === 'testBoard') {
                                        socket.emit('testBoard', {
                                                'requester':'01082169122',
                                                'board' : testBoard
                                        });
                                }
                                else if(code === 'putPoint') {
                                        socket.emit('putPoint', {
                                                'isRequester' : isRequester,
                                                'requester' : gameRequester,
                                                'phoneNumber' : myPhoneNumber,
                                                'col' : message[1],
                                                'row' : message[2]
                                        });
                                }

                                $('#m').val('');
                                return false;
                        });

                        socket.on('onlineList', (onlineList) => {
                                addLog('현재 접속 중인 목록 : ' + getValues(onlineList));
                        });

                        socket.on('alert', (msg) => {
                                $('#messages').append($('<li>').text(msg.msg));
                        });

                        socket.on('reqGame', (msg) => {
                                $('#messages').append($('<li>').text(msg.name + "이 게임을 요청했습니다."));
                                enemyName = msg.name;
                        });

                        socket.on('stopReqGame', (msg) => {
                                $('#messages').append($('<li>').text(msg.name + "이 게임 요청을 중단했습니다."));
                        });

                        socket.on('signin', (msg) => {
                                $('#messages').append($('<li>').text(msg.result));
                        });

                        socket.on('startTurn', (params) => {
                                var black = '';
                                var white = '';
                                enemyName = params.enemyName;
                                enemyPhoneNumber = params.enemyPhoneNumber;

                                if(isRequester) {
                                        gameRequester = myPhoneNumber;
                                } else {
                                        gameRequester = enemyPhoneNumber;
                                }

                                if(params.black === myPhoneNumber) {
                                        black = myName;
                                        white = enemyName;
                                } else {
                                        black = enemyName
                                        white = myName;
                                }

                                addLog("상대 전적 : ");
                                addLog(getValues(params.enemyInfo));

                                addLog("흑 : " + black);
                                addLog("백 : " + white);

                                var turn = params.turn;

                                addLog("현재 턴 정보 : " + turn);
                                if((turn == 0 && isRequester) || (turn == 1 && !isRequester)) {
                                        addLog('당신의 턴입니다.');
                                } else {
                                        addLog('상대의 턴입니다.')
                                }
                        });

                        socket.on('nextTurn', (params) => {
                                remainChangeTurn = params.remainChangeTurn;
                                turn = params.turn;
                                prev_col = params.prev_col;
                                prev_row = params.prev_row;
                                prev_type = params.prev_type;

                                var stone = "흑";
                                if(prev_type == '2') stone = "백";

                                addLog(enemyName + "이 (" + prev_col + ", " + prev_row + ")에 " + stone + "을 두었습니다.");
                                if((turn == 0 && isRequester) || (turn == 1 && !isRequester)) {
                                        addLog('당신의 턴입니다.');
                                } else {
                                        addLog('상대의 턴입니다.')
                                }
                        });

                        socket.on('endGame', (params) => {
                                addLog('게임 끝');
                                addLog('winner : ' + params.winner);
                        });
                });

                function addLog(msg) {
                        $('#messages').append($('<li>').text(msg));
                }

                function f1_click() {
                        $('#m').val('sendPhoneNumber 01082169122 이상현');
                }

                function f2_click() {
                        $('#m').val('sendPhoneNumber 01068119122 테스터');
                }

                function reqGame_click() {
                        $('#m').val('reqGame 01068119122');
                }

                function allowGame_click() {
                        $('#m').val('allowGame 01082169122');
                }

                function stopReqGame_click() {
                        $('#m').val('stopReqGame 01068119122');
                }

                function putPoint_click() {
                        $('#m').val('putPoint ');
                }

                function testBoard_click() {
                        $('#m').val('testBoard');
                }
        </script>

</body>

</html>
